:root{
    --blue: #8fd3f5;
    --skyblue: #ceebfb;
    --yellow: #f9e260;
    --green:#9fe260;
    --orange:#f4a23a;
  }


/* pc画面での表示*/
@media screen and (min-width:480px) {
    .pc p{
      position: relative;
      text-align: center;
      top:300px;
      font-size: 40px;
    }
    .sp{
      /* display:none; */
      opacity: 0.3;
    }
}
  
/*スマホ版の時pcの文字を非表示*/
@media screen and (max-width: 499px){
    .pc{
        display: none;
    }
}
html,body,main{
    margin: 0 auto;
    width: 100%;
    height:100%;
    font-family: sans-serif;
}
button{
    border:none;
    background-color: rgba(0,0,0,0);
}
input{
    display: inline;
    background-color: rgba(0,0,0,0);
}
.calender{
    display: none;
}
/* １ページ目 */
.bg{
    width:100%;
    height:100vh;
    background-image: url("../image/bg.png");
    background-size: cover;
    z-index:-10;
    position: fixed;
    opacity: 0.6;
}
#comment{
    position: absolute;
    top:78vh;
    text-align: center;
    width:100%;
    height:5vh;
    margin: 0 auto;
    color:#999999;
    animation:none;
}
@keyframes fade-in {
    0% {opacity: 0}
    50%{opacity: 1}
    100% {opacity: 0}
  }
.input input,.input select{
    border: solid 1px gray; 
}
#spendingForm{
    display: inline;
}
#incomeForm{
    display: none;
}
.bg2{
    width:70%;
    height:55vh;
    margin: 20vh 15% 0 15%;
    border-radius: 25px;
    background-color:white;
    position: fixed;
    opacity: 0.95;
}
.bg2 article{
    width:80%;
    height: 15%;
    padding: 10px 0;
    margin:0 10%;
    
}
.bg2 article:nth-child(1),.bg2 article:nth-child(2){
    border-bottom: dashed 2px var(--orange);
}
.artP{
    text-align: center;
}
.artP p{
    margin:5px 0;
}
.artI{
    width: 80%;
    margin-left: 10%;
}
.money{
    margin-top: 10vh !important;
}
.btn{
    width:40%;
    margin-left: 30%;
    height:30px;
    background-color:var(--green);
    color:white;
    border-radius:10px;
    font-size:15px;
    letter-spacing: 5px;
    position: absolute;
    bottom:20px;
    left:0px;
    border: none;
    border-bottom: solid 1px #627295;  
    border-right: solid 1px #627295;     
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}
.btn:active {
    transform: translateY(1px);
    transform: translateX(1px);
    border-bottom: none;
    border-right: none;
  }
aside{
    position: fixed;
    top:25vh;
    left:25%;
    width:50%;
    height:30px;
    background-color: white;
    border:solid 1px var(--orange);
    border-radius: 1.6em;
    text-align: center;
    box-shadow: 0 5px 20px rgba(244, 162, 58, .5);
}
#spending{
    background-color: white;
    border:none;
    position: absolute;
    top:0px;
    left:10%;
    width:40%;
    height:30px;
    letter-spacing: 5px;
    color:#4D4D4D;
    border-right:solid 1px #cccccc;
    padding:0 10% 0 0;
    text-align: center;
}
#income{
    background-color: white;
    border:none;
    position: absolute;
    top:0px;
    right:10%;
    width:30%;
    height:30px;
    letter-spacing: 5px;
    color:#CCCCCC;
    padding:0;
    text-align: center;
}

/* ２ページ目 */
#calendar {
    display: flex;
    flex-wrap: wrap;
    margin-bottom:0px;
    animation:none;
}
@keyframes calendardown {
    0% {margin-bottom:200px;}
    100% {margin-bottom:0px;}
}
#calendar ul{
    display:none;
}
section {
    margin: 0 auto;
    width:100%;
    height:100%;
}
#prev{
    position: absolute;
    font-size: 1.5em;
    top:40px;
    left:40px;
    color:var(--green);
    width:80px;
}
#prev i::before,#next i::before{
    z-index: -1;
}
#next{
    position: absolute;
    font-size: 1.5em;
    top:40px;
    right:40px;
    color:var(--green);
    width:80px;
}   
h1 {
    font-size: 18px;
    text-align: center;
    margin:40px 0 0 0;
    color:#4d4d4d;
    font-weight: normal;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    width:100%;
    height:70vh;
    margin-top:20px;
}

td {
    padding: 5px;
    text-align: center;
    color:#666666;
}
.weeks{
    padding: 0;
    border:none;
}

td:first-child {
    color: #f577ab;
}

td:last-child {
    color: var(--skyblue);
}

td.is-disabled {
    color: #ccc;
}
td.is-today {
    background-image:url("../image/gray.png");
    background-size:100%;
    background-position: center center; 
    background-repeat: no-repeat;
}
#pops{
    position:fixed;
    height:200px;
    width:100%;
    bottom: -250px;
    left:0px;
    z-index:100;
    background: white;
    opacity: 1;
    overflow: scroll;
    padding-bottom:50px;
    animation:none;
    box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0.6);
    
}
@keyframes popup {
  0% {bottom:-250px;}
  100% {bottom:0px;}
}
@keyframes popdown {
    0% {bottom:0px;}
    100% {bottom:-250px;}
}

.cross{
    position: absolute;
    top:-44px;
    right:30px;
    font-size:40px;
    color:white; 
    line-height:30px; 
}
.cross:active{
    color:#4C6627;
}
.bar{
    width:100%;
    height:30px;
    background-color: var(--green);
}
.calenderP{
    position: absolute;
    top:-16px;
    left:25px;
    font-size: 16px;
    width:auto;
    height:30px;
    line-height:30px;
    color:white;
}
.calenderUl{
    padding:0 0 0 10%;
    list-style: none;
    display: none;
    height:0;
}
#pops li{
    height:40px;
    border-bottom:solid 1px #cccccc;
}
.liCategory{
    width:30%;
    float: left;
    padding-left: 20px;
    margin:0;
    line-height:35px;
    color:#4d4d4d;
}
.liMoney{
    width:30%;
    float: left;
    text-align: right;
    padding-right: 20px;
    margin:0;
    line-height:35px;
    color:#4d4d4d;
}
.delate{
    width:25%;
    float: left;
    text-align: right;
    line-height:35px;
    color:#f577ab;
    padding-right:20px;
}

/* ３ページ目 */
.confirmation{
    display: none;
}
.circleBox{
    width:100vw;
    height:100vh;
}
.circle {	
    position: relative;
    display: inline-block;
    width: 80vw;
    height: 80vw;
    border-radius: 50%;
    background: rgba(255,255,255,0.8);
    border:solid 10px var(--green);
    margin-top:40%;
    margin-left:calc(10vw - 10px); 
}
#conf{
    width: 100%;
    height:100%;
}
#conf h2{
    font-weight: normal;
    font-size: 30px;
    margin-top: 70px;
    letter-spacing: 5px;
    text-align: center;
    color:#333333;
}
#conf p{
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
    color:#333333;
}
#graph{
    width:100%;
    height:100%;
}
/* footer */
footer{
    position: fixed;
    bottom:0px;
    left:0px;
    width:100%;
    height:auto;
    padding: 10px 0px;
    background-color: var(--skyblue);
    z-index:1000;
    box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0.6);
}
footer i{
    width:calc(100%/3);
    text-align: center;
    font-size: 35px;
    height: 100%;
}
#footerLeft{
    color:var(--blue);
}
#footerCenter{
    color:#f9fafc;
}
#footerRight{
    color:#f9fafc;
}